  .box-total {
    margin: 0;
    padding-top: 150px; /* 상단에서 100px 띄우기 */
    display: flex;
    flex-direction: column; /* 아래로 정렬하기 */
    background-color: #f0f0f0;
    
  }

  .box-container {
    display: flex;
    gap: 20px; /* 박스 사이에 20px 간격 띄우기 */
  }

  .box {
  	width: 200px; /* 너비 설정 */
 	 height: 500px; /* 높이 설정 */
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .left-box {
    flex: 6; /* 왼쪽 박스의 너비 비율 설정 */
    border-radius:20px 20px 20px 20px; /* 왼쪽 박스의 끝을 둥글게 처리 */
  }

  .right-box {
    flex: 4; /* 오른쪽 박스의 너비 비율 설정 */
    border-radius: 20px 20px 20px 20px; /* 오른쪽 박스의 끝을 둥글게 처리 */
  }

  .content {
    text-align: center;
    display: flex;
    align-items: center;
    padding: 20px;
  }
  
  a {
    text-decoration: none;
}

	.separator {
	    border-top: 2px solid black; /* 실선의 두께와 색상 설정 */
	    margin-top: 20px; /* 원하는 간격 설정 */
	}
	.heart-link {
  text-decoration: none; /* 링크의 밑줄을 없앰 */
}




  
