@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #FF7F50; /* 옅은 빨간색으로 변경 */
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #f56e69;
}

.searchTerm:focus {
  color: #f56e69;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #f56e69;
  background: #f56e69;
  text-align: center;
  color: #f56e69;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*위치 조정*/
.wrap{
  width: 30%;
  position: absolute;
  top: calc(50% - 250px);
  left: 50%;
  transform: translate(-50%, 0);
}